html, body{
  text-align: center;
  font-family: 'Bitter', serif;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
nav{
  background: #606C38;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
nav ul{
  margin-left: 40px;
}
nav li{
  display: inline-block;
  padding: 20px;
  float: left;
  font-size:20px;
}
nav li:hover{
  background-color: #283618;
}
a{
  text-decoration:none;
  color:black;
}
#profile-link{
  display: inline-block;
  padding: 16px;
  float:right;
  margin-right:40px;
  color:black;
}
nav i:hover{
  color:#283618;
}
.profile-link-mobile{
  display:none;
}
.flexSection{
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction:column;
}
#welcome-section{
  background: #FEFAE0;
}
h1{
  align-self: center;
}
#projects{
  height: 100vh;
  display: grid;
  background: #95A19B;
  justify-items: center;
  align-items:center;
  padding:10px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(2, minmax(200px, 1fr));
  grid-gap:40px;
  font-size:16px;
}
.project-tile{
  display:block;
  justify-self:center;
  
  object-fit:cover;
}
img{
  width:100%;
  display:block;
  border: 1px solid black;
}
#about-me{
  background: #B6BE9C;
}
h2{
  padding:20px;
}
footer{
  display:flex;
  height: 6vh;
  background-color: #3B482D;
  font-size: 10px;
  justify-content:center;
}
#footer-content{
  align-self:center;
}

@media (max-width: 480px) {
  
  #profile-link{
    display:none;
  }
  .profile-link-mobile{
    display: inline-block;
    padding:2px;
    float:right;
    margin-right:2px;
    color:black;
  }
  nav li{
    font-size: 10px;
    padding:4px;
  }
  #projects{
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    padding:10px;
    font-size:7px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  
  #profile-link{
    display: inline-block;
    padding:4px;
    float:right;
    margin-right:10px;
    color:black;
  }
  nav li{
    font-size: 20px;
    padding:6px;
  }
  #projects{
    grid-template-columns: repeat(3, minmax(140px, 1fr));
    grid-template-rows: repeat(2, minmax(140px, 1fr));
    padding:10px;
    font-size:10px;
  }
}
